@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Host Grotesk', sans-serif; 
  /* custom font */
  background-color: #26262a;
}
